@media screen and ( max-width: 375px ) {
    .site-container {
    
        .site-content {
            padding: 1.125rem;

            .left-sidebar {

                .widget-area {
                    display: none;
                }
            }

            .right-sidebar {

                .widget-area {
                    display: none;
                }
            }
        }
    }
}

@media screen and ( min-width: 376px ) and ( max-width: 428px ) {
    .site-container {
    
        .site-content {
            padding: 1.125rem;

            .left-sidebar {

                .widget-area {
                    display: none;
                }
            }

            .right-sidebar {

                .widget-area {
                    display: none;
                }
            }
        }
    }
}

@media screen and ( min-width: 429px ) and ( max-width: 480px ) {
    .site-container {
    
        .site-content {
            padding: 1.125rem;

            .left-sidebar {

                .widget-area {
                    display: none;
                }
            }

            .right-sidebar {

                .widget-area {
                    display: none;
                }
            }
        }
    }
}

@media screen and ( min-width: 481px ) and ( max-width: 600px ) {
    .site-container {
    
        .site-content {
            padding: 1.125rem;

            .left-sidebar {

                .widget-area {
                    display: none;
                }
            }

            .right-sidebar {

                .widget-area {
                    display: none;
                }
            }
        }
    }
}

@media screen and ( min-width: 601px ) and ( max-width: 768px ) {
    .site-container {
    
        .site-content {
            padding: 1.125rem;

            .left-sidebar {

                .widget-area {
                    display: none;
                }
            }

            .right-sidebar {

                .widget-area {
                    display: none;
                }
            }
        }
    }
}

@media screen and ( min-width: 769px ) and ( max-width: 810px ) {
    .site-container {
    
        .site-content {
            padding: 1.125rem;

            .left-sidebar {

                .widget-area {
                    display: none;
                }
            }

            .right-sidebar {

                .widget-area {
                    display: none;
                }
            }
        }
    }
}

@media screen and ( min-width: 811px ) and ( max-width: 1024px ) {
    .site-container {
    
        .site-content {
            padding: 1.125rem;

            .left-sidebar {

                .content-area {
                    float: right;
                    width: 64.777327935%;
                }

                .widget-area {
                    float: left;
                    width: 33.400809717%;
                }
            }

            .right-sidebar {

                .content-area {
                    float: left;
                    width: 64.777327935%;
                }

                .widget-area {
                    float: right;
                    width: 33.400809717%;
                }
            }
        }
    }
}

@media screen and ( min-width: 1025px ) and ( max-width: 1080px ) {
    .site-container {
    
        .site-content {
            padding: 1.125rem;

            .left-sidebar {

                .content-area {
                    float: right;
                    width: 62.573099415%;
                }

                .widget-area {
                    float: left;
                    width: 33.918128655%;
                }
            }

            .right-sidebar {

                .content-area {
                    float: left;
                    width: 62.573099415%;
                }

                .widget-area {
                    float: right;
                    width: 33.918128655%;
                }
            }
        }
    }
}

@media screen and ( min-width: 1081px ) {
    .site-container {
        margin: 3rem auto;
        max-width: 82.25rem;
    
        .site-content {
            padding: 1.125rem;

            .left-sidebar {

                .content-area {
                    float: right;
                    width: 70%;
                }

                .widget-area {
                    float: left;
                    width: 27.1875%;
                }
            }

            .right-sidebar {

                .content-area {
                    float: left;
                    width: 70%;
                }

                .widget-area {
                    float: right;
                    width: 27.1875%;
                }
            }
        }
    }
}