////
/// Alignment classes
///
/// We use this to build out our styles for the alignments.
///
/// @group  Utilities
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://getbenonit.com/themes/initiator
////

.alignleft {
	float: left;
    padding-right: 1.125rem;
}

.aligncenter {
	display: block;
}

.alignright {
	float: right;
    padding-left: 1.125rem;
}

.alignwide {
	margin: 18px calc( ( 800px - 1170px ) / 2 );
	max-width: 1170px;
	width: auto;
}

.alignfull {
	margin: 0 calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}