body {
  font-family: "Merriweather", serif;
  font-family: var(--font-family-primary, "Merriweather", serif);
  font-size: 1rem;
  margin: 0;
}

h1 {
  display: block;
  font-family: "Fira Sans", serif;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.67em 0;
}

h2 {
  display: block;
  font-family: "Fira Sans", serif;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 2rem;
  font-weight: 700;
  margin: 0.83em 0;
}

h3 {
  display: block;
  font-family: "Fira Sans", serif;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1em 0;
}

h4 {
  display: block;
  font-family: "Fira Sans", serif;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1.33em 0;
}

h5 {
  display: block;
  font-family: "Fira Sans", serif;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1.67em 0;
}

h6 {
  display: block;
  font-family: "Fira Sans", serif;
  font-family: var(--font-family-heading, "Fira Sans", serif);
  font-size: 1rem;
  font-weight: 700;
  margin: 2.33em 0;
}

.site-container {
  margin: 1.125em auto;
  max-width: 1170px;
}

.left-sidebar .content-area {
  float: right;
  width: 73.125rem;
}

.right-sidebar .content-area {
  float: left;
  width: 73.125rem;
}

.no-sidebar .content-area {
  margin: 0 auto;
  max-width: 73.125rem;
}

.site-header .site-branding {
  padding: 2em 0 1em 0;
  text-align: center;
}
.site-header .site-branding .site-title,
.site-header .site-branding .site-description {
  margin: 0;
  padding: 0;
}
.site-header .site-branding .site-title a {
  font-size: 1.5em;
  text-decoration: none;
}

.widget-area .search-form:before,
.widget-area .search-form:after {
  clear: both;
  content: "";
  display: table;
}

.widget-area .search-form {
  padding: 0.938em;
  background: #555;
  max-width: 100%;
}

.widget-area .search-field {
  border: none;
  float: left;
  font-family: "Merriweather", serif;
  font-size: 1em;
  padding: 0.563em;
  width: 100%;
}

.widget-area .search-submit {
  border: none;
  background: #d88f3c;
  color: #ffffff;
  float: right;
  font-family: "Merriweather", serif;
  font-size: 1em;
  display: none;
  padding: 0.5em;
  position: relative;
  width: 30%;
}

.download-area .widget,
.widget-area .widget {
  background: #ffffff;
  margin-bottom: 1.125em;
  font-size: 0.875em;
}

.widget ul,
.widget ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.widget li {
  margin: 0.4em 0 0 0;
}

.widget li li {
  margin-left: 1.125em;
}

.widget select {
  font-family: "Merriweather", serif;
  margin: 0.625em 0;
  padding: 0.5em;
  width: 100%;
}

.widget.widget_post_thumbnail {
  padding-bottom: 0;
}

.widget-title {
  margin: 0 0 0.5em 0;
}

.rss-widget-icon {
  display: none;
}

.rsswidget {
  display: block;
}

.widget_rss cite {
  display: block;
  font-size: 0.875em;
  font-weight: 700;
  margin-bottom: 1.125em;
}

.widget-area table {
  border-collapse: collapse;
  width: 100%;
}

.widget-area tr:nth-of-type(odd) {
  background: #eeeeee;
}

.widget-area th {
  background: #333333;
  color: #ffffff;
  font-weight: 700;
}

.widget-area th, td {
  border: 0.063em solid #cccccc;
  text-align: left;
  padding: 0.438em;
}

.rss-date {
  font-size: 0.875em;
}

.rssSummary {
  margin-top: 10px;
}

#wp-calendar table {
  border-collapse: collapse;
  width: 100%;
}

#wp-calendar tr:nth-of-type(odd) {
  background: #eeeeee;
}

#wp-calendar th {
  background: #999999;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

#wp-calendar th,
#wp-calendar td {
  border: 0.063em solid #cccccc;
  padding: 0.438em;
  text-align: center;
}

#wp-calendar {
  border: 0.063em solid #cccccc;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}

#wp-calendar a {
  color: #1d1d1d;
  font-weight: 700;
}

#wp-calendar caption {
  font-weight: 700;
  margin: 5px 0;
  text-align: center;
}

#wp-calendar #today {
  background: #cccccc;
  font-weight: 700;
}

.textwidget {
  line-height: 1.6em;
}

/**
* 23.0 - Captions
*/
.wp-caption {
  max-width: 100%;
  margin-bottom: 1.5em;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.wp-caption-text {
  text-align: center;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  background: #eeeeee;
  font-size: 0.938em;
  padding: 0.313em;
  text-align: center;
}

.wp-caption p {
  margin: 0;
  padding: 0;
}

.primary-navigation {
  display: block;
  width: 100%;
}
.primary-navigation ul {
  display: block;
  list-style: none;
  margin: 0;
}
.primary-navigation li {
  position: relative;
}
.primary-navigation ul ul {
  display: none;
  margin-left: 0.5em;
}
.primary-navigation a {
  color: #ffffff;
  display: block;
  line-height: 1.5em;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}
.primary-navigation a:hover,
.primary-navigation a:focus {
  background: #ffffff;
  color: #000000;
}
.primary-navigation ul .toggled-on {
  display: block;
}
.primary-navigation .current-menu-item > a,
.primary-navigation .current-menu-ancestor > a,
.primary-navigation .current_page_item > a,
.primary-navigation .current_page_ancestor > a {
  font-weight: 700;
}
.primary-navigation .nav-menu {
  background: #000000;
  padding: 1em;
  margin-bottom: 3em;
}
.primary-navigation .nav-menu > ul > li:first-child,
.primary-navigation .nav-menu > li:first-child {
  border-top: 0;
}
.primary-navigation .menu-item-has-children > a,
.primary-navigation .page_item_has_children > a {
  padding-right: 3em;
}
.primary-navigation.toggled {
  bottom: 0;
  padding: 1em;
  position: fixed;
  z-index: 1;
}
.primary-navigation.toggled ul {
  max-height: calc(100vh - 8em);
  overflow-y: auto;
}
.primary-navigation.toggled ul ul {
  display: none;
}
.primary-navigation.toggled ul ul.toggled-on, .primary-navigation.toggled ul ul.toggled-on > ul {
  display: block;
}

.dropdown-toggle {
  background: #000000;
  border: 0.063em solid #ffffff;
  box-sizing: content-box;
  color: #ffffff;
  font-family: "Font Awesome 5 Free";
  height: 2em;
  padding: 0;
  position: absolute;
  right: 0.25em;
  top: 0.188em;
  width: 2em;
}

.dropdown-toggle:after {
  font-size: 1.125em;
  content: "\f078";
  left: 0;
  line-height: 1.875em;
  position: relative;
  top: 0;
  width: 1.875em;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background: #ffffff;
  color: #000000;
}

.dropdown-toggle.toggle-on:after {
  content: "\f077";
}

.menu-toggle {
  background-color: #000;
  border: solid 2px #fff;
  bottom: 1em;
  color: #fff;
  display: none;
  font-size: 1em;
  left: 1em;
  padding: 0.4em;
  position: fixed;
  transition: all ease-out 400ms;
  z-index: 100;
}

.menu-toggle.hide {
  bottom: -2.5em;
}

.toggled .menu-toggle.hide {
  bottom: 1em;
}

.menu-toggle:hover,
.menu-toggle:focus {
  text-decoration: underline;
}

@media screen and (min-width: 73.125em) {
  .primary-navigation ul {
    text-align: center;
  }
  .primary-navigation ul ul.toggled-on {
    background: #000000;
    display: block;
    padding-left: 0;
    position: absolute;
    right: 0;
    width: 17em;
    z-index: 10;
  }
  .primary-navigation ul ul ul.toggled-on {
    right: 0;
    padding-left: 0;
    position: relative;
  }
  .primary-navigation ul ul ul a {
    padding-left: 2em;
  }
  .primary-navigation ul ul li a {
    color: #ffffff;
  }
  .primary-navigation.toggled-on {
    padding-left: 0;
  }
  .primary-navigation li {
    display: inline-block;
  }
  .primary-navigation li li {
    display: block;
    text-align: left;
  }
  .primary-navigation li li a:hover, .primary-navigation li li a:focus {
    background: #eeeeee;
    color: #000000;
    text-decoration: none;
  }
  .primary-navigation a {
    color: #000000;
  }
  .primary-navigation a:hover, .primary-navigation a:focus {
    background: transparent;
    color: #000000;
    outline: 0.063em solid #b3b3b3;
    text-decoration: underline;
  }
  .primary-navigation .nav-menu {
    background: #ffffff;
    padding: 0.5em;
    margin-bottom: 0;
  }
  .primary-navigation .dropdown-toggle:hover {
    background: #000;
    color: #ffffff;
  }
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  word-wrap: normal;
  border: none;
}
.screen-reader-text:active, .screen-reader-text:focus {
  clip: auto;
  -webkit-clip-path: none;
          clip-path: none;
  display: block;
  height: auto;
  width: auto;
  z-index: 100000;
  text-decoration: none;
}

.site-content:before, .site-content:after,
.site-main:before,
.site-main:after,
.no-sidebar:before,
.no-sidebar:after,
.left-sidebar:before,
.left-sidebar:after,
.right-sidebar:before,
.right-sidebar:after,
.content-area:before,
.content-area:after,
.widget-area:before,
.widget-area:after {
  clear: both;
  content: "";
  display: table;
}
