////
/// Accessibility styles.
///
/// @group  Utilities
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://github.com/benlumia007/initiator
////

.alignleft {
	float: left;
}

.aligncenter {
	display: block;
}

.alignright {
	float: right;
}

.alignwide {
	margin: 1.125em -11.250em 0 -11.250em;
	max-width: 73.125em;
	width: auto;
}

.alignfull {
	margin: 0 calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}